Source: xcb-util
Section: gui
Priority: extra
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: cdbs,
               debhelper (>= 5),
               autotools-dev,
               libxcb-render0-dev,
               libxcb1-dev,
               gperf,
               pkg-config,
               libxcb-shm0-dev,
               m4,
               autoconf,
               automake,
               libtool
XCS-Cross-Host-Build-Depends: cdbs, cdbs-embedded, debhelper (>= 5), autotools-dev, gperf, pkg-config, m4, autoconf, automake, libtool
XCS-Cross-Build-Depends: libxcb-render0-dev, libxcb1-dev, libxcb-shm0-dev
XCS-Cross-Mode: both
Standards-Version: 3.8.0
Homepage: http://xcb.freedesktop.org

Package: libxcb-atom1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility libraries for X C Binding -- atom
 This package contains the library files needed to run software using
 libxcb-atom, providing standard core X atom constants and atom caching.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-atom1-dev
Section: libdevel
Architecture: any
Depends: libxcb-atom1 (= ${binary:Version}), libxcb1-dev
Conflicts: libxcb-atom0-dev
Description: utility libraries for X C Binding -- atom
 This package contains the header and library files needed to build software
 using libxcb-atom, providing standard core X atom constants and atom caching.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-aux0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility libraries for X C Binding -- aux
 This package contains the library files needed to run software using
 libxcb-aux, providing convenient access to connection setup and some
 core requests.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-aux0-dev
Section: libdevel
Architecture: any
Depends: libxcb-aux0 (= ${binary:Version}), libxcb1-dev
Description: utility libraries for X C Binding -- aux
 This package contains the header and library files needed to build software
 using libxcb-aux, providing convenient access to connection setup and some
 core requests.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-event1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility libraries for X C Binding -- event
 This package contains the library files needed to run software using
 libxcb-event, providing X callback event handling.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-event1-dev
Section: libdevel
Architecture: any
Depends: libxcb-event1 (= ${binary:Version}), libxcb1-dev
Conflicts: libxcb-event0-dev
Description: utility libraries for X C Binding -- event
 This package contains the header and library files needed to build software
 using libxcb-event, providing X callback event handling.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-image0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility libraries for X C Binding -- image
 This package contains the library files needed to run software using
 libxcb-image, providing port of Xlib's XImage and XShmImage functions.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-image0-dev
Section: libdevel
Architecture: any
Depends: libxcb-image0 (= ${binary:Version}), libxcb1-dev, libxcb-shm0-dev
Description: utility libraries for X C Binding -- image
 This package contains the header and library files needed to build software
 using libxcb-image, providing port of Xlib's XImage and XShmImage functions.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-keysyms1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility libraries for X C Binding -- keysyms
 This package contains the library files needed to run software using
 libxcb-keysyms, providing standard X key constants and conversion to/from
 keycodes.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-keysyms1-dev
Section: libdevel
Architecture: any
Depends: libxcb-keysyms1 (= ${binary:Version}), libxcb1-dev
Conflicts: libxcb-keysyms0-dev
Description: utility libraries for X C Binding -- keysyms
 This package contains the header and library files needed to build software
 using libxcb-keysyms, providing standard X key constants and conversion to/from
 keycodes.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-property1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility libraries for X C Binding -- property
 This package contains the library files needed to run software using
 libxcb-property, providing callback X property-change handling.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-property1-dev
Section: libdevel
Architecture: any
Depends: libxcb-property1 (= ${binary:Version}), libxcb1-dev, libxcb-event1-dev
Conflicts: libxcb-property0-dev
Description: utility libraries for X C Binding -- property
 This package contains the header and library files needed to build software
 using libxcb-property, providing callback X property-change handling.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-render-util0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility libraries for X C Binding -- render-util
 This package contains the library files needed to run software using
 libxcb-render-util, providing convenience functions for the Render extension.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-render-util0-dev
Section: libdevel
Architecture: any
Depends: libxcb-render-util0 (= ${binary:Version}), libxcb1-dev, libxcb-render0-dev
Description: utility libraries for X C Binding -- render-util
 This package contains the header and library files needed to build software
 using libxcb-render-util, providing convenience functions for the Render
 extension.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-reply1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility libraries for X C Binding -- reply
 This package contains the library files needed to run software using
 libxcb-reply.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-reply1-dev
Section: libdevel
Architecture: any
Depends: libxcb-reply1 (= ${binary:Version}), libxcb1-dev
Conflicts: libxcb-reply0-dev
Description: utility libraries for X C Binding -- reply
 This package contains the header and library files needed to build software
 using libxcb-reply.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-icccm1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility libraries for X C Binding -- icccm
 This package contains the library files needed to run software using
 libxcb-icccm, providing client and window-manager helpers for ICCCM.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.

Package: libxcb-icccm1-dev
Section: libdevel
Architecture: any
Depends: libxcb-icccm1 (= ${binary:Version}), libxcb1-dev, libxcb-atom1-dev,
         libxcb-property1-dev
Conflicts: libxcb-icccm0-dev
Description: utility libraries for X C Binding -- icccm
 This package contains the header and library files needed to build software
 using libxcb-icccm, providing client and window-manager helpers for ICCCM.
 .
 The xcb-util module provides a number of libraries which sit on top of
 libxcb, the core X protocol library, and some of the extension
 libraries. These experimental libraries provide convenience functions
 and interfaces which make the raw X protocol more usable. Some of the
 libraries also provide client-side code which is not strictly part of
 the X protocol but which have traditionally been provided by Xlib.
